body {
    background-color: #f0f0f0; /* Branco */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.cont{
    background-color: #ffffff;  
    border: 10px solid #ddd; 
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 400px;
    height: 500px; 
}
.fila-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fila {
    display: flex;
    align-items: center;
    margin: 20px;
}

button {
    background-color: #ff33cc; /* Rosa */
    color: #ffffff;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.numero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.numero {
    width: 60px;
    height: 60px;
    border: 2px solid #ff33cc; /* Rosa */
    border-radius: 50%;
    color: #ff33cc; /* Rosa */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}
.texto-pequeno{
    font-size: 20px;
}